#mx_builder_components_container {
    border: 2px solid #e5e4e8;
    margin: 10px 0px;
    padding: 10px;
}
#mx_builder_add_button_wrap {
    text-align: center;
}
#mx_builder_add_button {
    
}

/**/
#mx_builder_list_of_items_box {
    border: 1px solid #e5e4e8;
    margin: 5px;
    padding: 5px;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    -o-flex-wrap: wrap;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #f7f8ff;
}
#mx_builder_list_of_items_box > div {
    border: 2px solid #e5e4e8;
    padding: 20px;
    margin: 2px;
    cursor: pointer;
    background-color: #fbffef;
}
#mx_builder_list_of_items_box > div:hover {
    background-color: #ebf5cd;
}

/**/
.mx_builder_build_stream_element {
    border: 1px solid #e5e4e8;
    margin: 5px;
    padding: 5px;
    background-color: #f7f8ff;
}
.mx_builder_build_stream_element_header {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    -o-flex-wrap: wrap;
    flex-wrap: wrap;
    justify-content: flex-start;
    padding: 10px 6px;
    font-weight: bold;
    background: #e8e7f3;
    color: #7c7c8a;
}
.mx_builder_build_stream_element_management {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    align-items: center;
}
.mx_builder_build_stream_element_management > span {
    background-color: #f3f3f3;
    padding: 5px;
    margin: 0px 10px;
    height: 100%;
    display: flex;
    align-items: center;
    cursor: pointer;
}
.mx_builder_build_stream_element_management > span:hover {
    background-color: #d8dad8;
}
.mx_builder_button_none {
    display: none !important;
}
.mx_builder_build_stream_element_body {
    overflow: hidden;
}
.mx_builder_build_stream_element_body img {
    max-width: 200px;
    max-height: 200px;
    height: auto;
    width: auto;
}
.mx-builder-editable-img {
    cursor: pointer;
}

/*effects*/
.mx_builder_effect_move_to_top {
    position: absolute;
    margin-top: -100px;
    -webkit-transition: 0.4s all ease;
    transition: 0.4s all ease;
}
.mx_builder_effect_move_to_bottom {
    margin-top: 100px;
    position: absolute;
    -webkit-transition: 0.4s all ease;
    transition: 0.4s all ease;
}

/**/
.mx_builder_build_stream_element_remove_element {
    background-color: #f3f3f3;
    padding: 5px;
    margin: 0px 10px;
    height: 100%;
    display: flex;
    align-items: center;
    cursor: pointer;
}
.mx_builder_build_stream_element_remove_element:hover {
    background-color: #cc4336;
    color: #fff;
}

/*editor*/
.mx_builder_text_editor_wrap {
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 77777;
    background: rgba(104, 105, 104, 0.84);
    width: 100%;
    height: 100%;
    overflow: scroll;
    display: none;
    padding-top: 50px;
    padding-bottom: 50px;
}
#wp-mx_builder_editor-wrap {
    display: inline-block;
    width: 100%;
    max-width: 800px;
    height: 400px;
}
#mx_builder_editor {
    min-height: 400px;
    width: 100%;
}
#mx_builder_editor_ifr {
    height: 300px !important;
}
.mx_builder_text_editor_visible {
    display: block;
    text-align: center;
}
.mx_builder_text_editor_visible .mce-tinymce {
    width: 100%;
    max-width: 800px;
    margin: 32px auto;
}
.mx-builder-editable-content {
    cursor: pointer;
}
.mx-builder-editable-content:hover {
    background: #7681ce;
    -webkit-transition: 0.4s all ease;
    transition: 0.4s all ease;
}
.mx_builder_save_content.button-primary {
    margin: 40px auto;
    float: none;
    display: block;
    margin-bottom: 32px;
}

/*hide textarea*/
/*#post-status-info,
#content {
    display: none;
}
*/
/*hide meta data field*/
#mx_builder_data_array_builder {
    display: none;
}

/*media*/
@media only screen and (max-width: 800px) {
   /* #wp-mx_builder_editor-wrap {
        position: absolute;
        width: 100%;
        max-width: 800px;
        left: 0;
        margin-left: 0;
    }*/
}
